    /*這邊的CSS都是可以自己控制的*/
    
    body {
        display: none;
    }
    
    #jSplash {
        width: 170px;
        height: 125px;
        margin:-2% auto;
        background: url("../images/bh-logo.png") no-repeat;
    }
    
    #jpreOverlay {
        background:#000;
    }
    
    #jpreSlide {
        font-size: 15px;
        font-weight: bold;
        color: #ccc;
        text-align: center;
        font-family: Georgia;
        width: 100%;
        margin: auto;
    }
    /*這個是顯示百分比的長條*/
    
    #jpreLoader {
        margin-top:3%;
        width: 100%;
        height: 3px;
    }
    
    #jpreBar {
        background:#FFF;
    }
    
