@charset "utf-8";

/* CSS Document */

@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
body {
    background: url(../images/bg.jpg) no-repeat top center #000;
    font-family: 'Noto Sans TC', Microsoft JhengHei, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.wrap {
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
}


/*top*/

.top {
    width: 1100px;
    height: 125px;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
    z-index: 999;
    margin-left:-550px \9;
}

.top .bh-logo {
    width: 170px;
    height: 125px;
    margin-left: 0px;
    background: url(../images/bh-logo.png) 0 0 no-repeat;
    float: left;
}

.top .m1-logo {
    width: 140px;
    height: 35px;
    margin-top: 25px;
    background: url(../images/01-logo.png) 0 0 no-repeat;
    float: right;
}

.top .fb-share {
    width: 55px;
    height: 35px;
    margin-top: 25px;
    margin-right: 10px;
    background: url(../images/fb.png) 0 0 no-repeat;
    float: right;
    transition: 0.3s
}

.top .fb-share:hover {
    background: url(../images/fb-hover.png);
}

.top .info-btn {
    width: 110px;
    height: 35px;
    margin-top: 25px;
    background: url(../images/info.png) 0 0 no-repeat;
    float: right;
    transition: 0.3s
}

.top .info-btn:hover {
    background: url(../images/info-hover.png);
}

.clear_both {
    clear: both;
}


/* container */

.container {
    width: 1100px;
    height: auto;
    margin: 0 auto;
    position: relative;
}


/* kv */

.kv {
    width: 1100px;
    height: 655px;
    margin: 0 auto;
    position: relative;
}

.kv .people {
    width: 450px;
    height: 620px;
    top: 50px;
    left: 155px;
    background: url(../images/people.png);
    position: absolute;
    z-index: 2;
}

.kv .title {
    width: 390px;
    height: 110px;
    top: 125px;
    right: 90px;
    background: url(../images/title.png);
    position: absolute;
    z-index: 2;
}

.kv .yellow-bar {
    width: 810px;
    height: 145px;
    top: 170px;
    left: 50%;
    transform: translate(-96%, 0);
    background: url(../images/yellow-bar.png);
    position: absolute;
    z-index: 1;
    margin-left:-810px \9;
}


/* yellow-circle */

.yellow-circle {
    width: 135px;
    height: 135px;
    top: 270px;
    right: 225px;
    background: url(../images/test-go.png);
    position: absolute;
    cursor: pointer;
    transition: 0.2s ease-out;
}

.yellow-circle.q1 {
    background: url(../images/q1.png);
    cursor: default;
}
.yellow-circle.q2 {
    background: url(../images/q2.png);
    cursor: default;
}
.yellow-circle.q3 {
    background: url(../images/q3.png);
    cursor: default;
}
.yellow-circle.end {
    background: url(../images/result.png);
    cursor: default;
}

.yellow-circle:hover {
    transform: translateY(10px);
}

.yellow-circle.q1:hover,
.yellow-circle.q2:hover,
.yellow-circle.q3:hover,
.yellow-circle.end:hover {
    transform: translateY(0);
}


/* test-box */

.test-box {
    width: 1100px;
    height: 405px;
    top: 440px;
    margin-bottom: 50px;
    position: absolute;
    z-index: 3;
}


/* 首頁3派 */

.style-box {
    width: 410px;
    height: 405px;
    position: absolute;
}

.bike-a {
    background: url(../images/style-a.png);
}

.bike-b {
    background: url(../images/style-b.png);
    left: 345px;
}

.bike-c {
    background: url(../images/style-c.png);
    left: 690px;
}


/* Question */

.question {
    width: 1100px;
    height: 405px;
    background: url(../images/q-bg.png);    
}

.q-title {
    width: 1100px;
    height: 90px;
}

.q-title img {
    margin-left:50px; 
    margin-right: 5px;
    vertical-align: middle;
}

.q {
    font-size: 30px;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    line-height: 90px;
}

.answer {
    width: 910px;
    height: 248px;
    margin: 0 auto;
}

.answer-box {
    width: 230px;
    height: 185px;
    margin: 35px 0 0 55px;
    padding: 52px 23px 0px 23px;
    border: solid 2px #ffd200;
    border-radius: 10px;
    font-size: 20px;
    text-align: justify;
    text-justify: auto;
    color: #fff;
    float: left;
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
}

.answer-box:hover {
    background-color: rgba(255, 210, 0, 0.5);
    background-color:#806900 \9;
}

.answer-box.chosen {
    background-color: rgba(255, 210, 0, 0.5);
    background-color:#806900 \9;
}

.a {
    background: url(../images/a.png) top left no-repeat;
    background-position: -2px -2px;
}

.b {
    background: url(../images/b.png) top left no-repeat;
    background-position: -2px -2px;
}

.c {
    background: url(../images/c.png) top left no-repeat;
    background-position: -2px -2px;
}

.next {
    width: 230px;
    height: 40px;
    margin: 0 auto;
    background: url(../images/next.png);
    cursor: pointer;
    transition: 0.2s ease-out;
}

.next:hover {
    transform: translateX(10px);
}

.hide {
    display: none;
}


.question1,
.question2,
.question3 {
   position: absolute;
}



/* Result */

.result {
    width: 1100px;
    height: 405px;
    background: url(../images/result-bg.png);
    position: relative;
}

.result-text {
    width: 500px;
    height: 200px;
    position: absolute;
    top: 35px;
    left: 120px;
}

.result-pic {
    width: 340px;
    height: 405px;
    position: absolute;
    top: 0px;
    right: 170px;
    z-index: 5;
}

.result-btn {
    width: 460px;
    height: 70px;
    position: absolute;
    bottom: 35px;
    left: 120px;
}

.more {
    width: 190px;
    height: 70px;
    margin-right: 20px;
    background: url(../images/more.png);
    transition: 0.3s;
    display: inline-block;
}

.more:hover {
    background: url(../images/more-hover.png);
}

.share {
    width: 240px;
    height: 70px;
    background: url(../images/share.png);
    transition: 0.3s;
    display: inline-block;
}

.share:hover {
    background: url(../images/share-hover.png);
}

.back {
    width: 125px;
    height: 35px;
    position: absolute;
    top: 20px;
    right: 35px;
    background: url(../images/back.png);
    transition: 0.2s ease-out;

}

.back:hover{
    transform: translateX(-10px);
}



/* 填資料 */

.fillIn {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.8);
    background-color:#000 \9;
}

.popup-box {
    background: url(../images/form-bg.png) no-repeat top center #000;
    border: solid 2px #ffd200;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 550px;
    margin-left:-350px \9;
    margin-top:-275px \9;
}

.close {
    position: absolute;
    z-index: 2;
    top: 25px;
    right: 25px;
    width: 35px;
    height: 35px;
    background: url(../images/close.png) no-repeat 0 0;
}

.form {
    width: 485px;
    height: 250px;
    margin: 180px 100px 0px 100px;
}

.form div {
    margin-bottom: 27px;
}

.form label {
    font-size: 20px;
    color: #ffd200;
    width: 60px;
    margin-right: 10px;
    letter-spacing: 1px;
    display: inline-block;
}

.form input {
    border: 2px solid #ffd200;
    background-color: transparent;
    font-size: 20px;
    color: #fff;
    height: 26px;
    padding-left: 5px
}

.form input.short {
    width: 220px;
}

.form input.long {
    width: 395px;
}

.checkbox {
    display: inline-block;
    vertical-align: middle;
}

.agree {
    font-size: 16px;
    color: #fff;
}

.agree span {
    display: inline-block;
    vertical-align: middle;
}

.send {
    background: url(../images/send.png) no-repeat 0 0;
    width: 230px;
    height: 40px;
    display: block;
    margin: 0 auto;
    transition: 0.2s ease-out;
}

.send:hover{
    transform: translateX(10px);
}


/* 送出成功 */

.success {
    background: url(../images/success.png) no-repeat top center #000;
    border: solid 2px #ffd200;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 185px;
    margin-left:-350px \9;
    margin-top:-93px \9;
}


/* 活動辦法 */

.information {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.8);
    background-color:#000 \9;
}

.info {
    background: url(../images/info-title.png) no-repeat top center #000;
}

.scroll-pane {
    width: 585px;
    height: 400px;
    margin: 120px auto 0;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 20px;
    padding-right: 25px;
    padding-left: 20px;
    overflow-y: scroll;
    outline: 0;
}

.scroll-pane h3 {
    font-size: 16px;
    font-weight: normal;
    color: #ffd200;
    padding: 20px 0px 2px 0px;
    margin: 0;
    margin-bottom: 5px;
}

.title-list {
    list-style: none;
    padding: 0;
}

.square {
    list-style-image: url(../images/dot.png);
    margin-left: -15px;
    margin-top: 10px;
    text-align: justify;
    line-height: 1.5;
}

.square li {
    margin-bottom: 8px;
}

.yellow{
    color: #ffd200;
}



 /*footer*/

.footer {
    clear: both;
    width: 100%;
    height: 50px;
    text-align: center;
    color: #cccccc;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 50px;
    position:absolute;
    top: 950px;
}